<div class="icon-bar vertical menu--medium-up show-for-medium-up">
    <a class="item" ui-sref="printers.list">
        <i class="fa fa-print"></i>
        <span>Printers</span>
    </a>
    <a class="item" ui-sref="images">
        <i class="fa fa-file-photo-o"></i>
        <span>Images</span>
    </a>
</div>