@import "settings/_settings";
@import 'settings/mixins';

.header{
  background-color: $header-bg-color;
  min-height: $header-small-height;
  @include border-box;
  color: $header-text-color;
  font-family: $header-font-family;


  .menu {
    min-height: $menu-small-height;
    background-color: $menu-bg-color;
    padding: 5px;
    overflow: hidden;

    .menu-items {
      min-height: $menu-small-item-wrapper;
    }

    .menu-items.ng-hide{
      min-height: 0;
    }

    .nav__menu-btn-container {
      display: inline;

      .nav__menu-icon-text {

        &:hover {
          cursor: pointer;
          color: $header-item-hover-color;
        }
      }
    }
  }

  .menu--small {
    height: 100%;
    background: transparent;
    overflow: hidden;
  }

  .menu-items.ng-hide .menu--small {
    height: 0;
    @include transition(all, 0.7s, linear, 0s);
  }

  .header-main-content {
    position: relative;
    min-height: $header-main-content-height;
  }

  .header__logo-container {
    text-align: center;

    .header__logo {
      height: $header-small-logo-height;
    }
  }
}