@import 'settings/mixins';

.image-show-area {
  overflow: hidden;

  .image-show-area__img--th{
    float: left;
    position: relative;
    margin: 10px;

    img{
      width: 100px;
      height: 100px;
    }

    .close-btn {
      position: absolute;
      top: -10%;
      right: -10%;
      display: none;

      &:hover {
        background-color: #1b926c;
        cursor: pointer;
      }
    }

    &:hover .close-btn {
      display: block;
    }
  }
}