@import './settings/_mixins';
@import './settings/_settings';

.list-item {
  padding: 10px;
  font-family: $heading-font-family;
  border-bottom: 1px solid #b6edff;

  .list-item__details  {
    margin-left: 10px;

    .list-item__detail-entry {
      margin: 5px 0;
    }
  }

  .list-item__action {
    @include clearfix;
    margin: 5px 0;
  }
}