<section class="image-upload-area" ng-controller="uploadImageCtrl as vm" nv-file-drop="" uploader="vm.uploader">
    <div class="small-12 small-centered columns">
        <h3 class="subheader">Select files</h3>

        <div ng-show="vm.uploader.isHTML5">
            <!-- 3. nv-file-over uploader="link" over-class="className" -->
            <div class="panel callout my-drop-zone" nv-file-over="" uploader="vm.uploader">
                Base drop zone
            </div>

            <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
            <div nv-file-drop="" uploader="vm.uploader" options="{ url: '/foo' }">
                <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="panel callout my-drop-zone">
                    Another drop zone with its own settings
                </div>
            </div>
        </div>

        <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <input type="file" nv-file-select="" uploader="vm.uploader" multiple  /><br/>

    </div>

    <div class="small-12 small-centered columns" style="margin-bottom: 40px">
        <p class="label">Queue length: {{ vm.uploader.queue.length }}</p>

        <table class="table">
            <thead>
            <tr>
                <th width="30%">Name</th>
                <th width="10%" ng-show="vm.uploader.isHTML5">Size</th>
                <th width="15%" ng-show="vm.uploader.isHTML5">Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.uploader.queue">
                <td>
                    <strong>{{ item.file.name }}</strong>
                    <!-- Image preview -->
                    <!--auto height-->
                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                    <!--auto width-->
                    <div ng-show="vm.uploader.isHTML5" img-thumb="{ file: item._file, height: 100 }"></div>
                    <!--fixed width and height -->
                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                </td>
                <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="vm.uploader.isHTML5">
                    <div class="progress success">
                        <div class="meter" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="fa-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="fa-ban"></i></span>
                    <span ng-show="item.isError"><i class="fa-remove"></i></span>
                </td>
                <td nowrap>
                    <span class="label success tiny" ng-click="upload(item)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="fa fa-upload"></span> Upload</span>
                    <span class="label secondary tiny" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                        <span class="fa fa-ban"></span> Cancel
                    </span>
                    <span class="label alert tiny" ng-click="item.remove()">
                        <span class="fa fa-trash-o"></span> Remove</span>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress:
                <div class="progress success">
                    <div class="meter" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="button success tiny" ng-click="vm.uploadAll()" ng-disabled="!vm.uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload all
            </button>
            <button type="button" class="button secondary tiny" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel all
            </button>
            <button type="button" class="button alert tiny" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
                <span class="fa fa-trash-o"></span> Remove all
            </button>
        </div>
    </div>
</section>