<form class="row" name="addPrinterForm" ng-submit="vm.addPrinter(addPrinterForm.$valid)" novalidate>
    <div class="small-6 columns">
        <label for="printer-brand-name" class="form__label">Brand Name</label>
        <input id="printer-brand-name"
               class="input--validation"
               validation-error="addPrinterForm"
               type="text"
               placeholder="Brand name" name="brandName"
               required
               ng-model="vm.printer.brandName"/>
    </div>
    <div class="small-6 columns">
        <label for="printer-name" class="form__label">Product Name</label>
        <input id="printer-name"
               class="input--validation"
               validation-error="addPrinterForm"
               name="productName" type="text"
               placeholder="Product Name" required
               ng-model="vm.printer.productName" />
    </div>

    <div class="small-6 columns">
        <label for="printer-price" class="form__label">Price</label>
        <input id="printer-price"
               class="input--validation"
               validation-error="addPrinterForm"
               type="number"
               placeholder="Price"
               name="price"
               required
               ng-model="vm.printer.price"/>
    </div>

    <div class="small-6 columns">
        <label for="printer-stock-availability" class="form__label">Stock Availability</label>
        <input id="printer-stock-availability"
               class="input--validation" type="number"
               validation-error="addPrinterForm"
               placeholder="Stock Availability"
               name="stockAvailability"
               required ng-model="vm.printer.stockAvailability"/>
    </div>

    <div class="small-12 columns">
        <label for="description" class="form__label">Description</label>
        <textarea id="description" name="printerDescription" ckeditor placeholder="Description"></textarea>
    </div>

    <div class="small-3 columns">
        <label for="printer-weight" class="form__label">Weight</label>
        <div class="row collapse postfix-radius">
            <div class="small-9 columns">
                <input id="printer-weight"
                       class="input--validation"
                       validation-error="addPrinterForm"
                       name="printerWeight" type="number"
                       placeholder="Weight"
                       ng-model="vm.printer.weight" />
            </div>
            <div class="small-3 columns">
                <span class="postfix">Kg</span>
            </div>
        </div>
    </div>
    <div class="small-3 columns">
        <label for="printer-width" class="form__label">Width</label>
        <div class="row collapse postfix-radius">
            <div class="small-9 columns">
                <input id="printer-width"
                       class="input--validation"
                       validation-error="addPrinterForm"
                       name="printerWidth"
                       type="number" placeholder="width"
                       ng-model="vm.printer.dimension.width" />
            </div>
            <div class="small-3 columns">
                <span class="postfix">cm</span>
            </div>
        </div>
    </div>
    <div class="small-3 columns">
        <label for="printer-height" class="form__label">Height</label>
        <div class="row collapse postfix-radius">
            <div class="small-9 columns">
                <input id="printer-height"
                       class="input--validation"
                       validation-error="addPrinterForm"
                       name="printerHeight" type="number"
                       placeholder="Height"
                       ng-model="vm.printer.dimension.height" />
            </div>
            <div class="small-3 columns">
                <span class="postfix">cm</span>
            </div>
        </div>
    </div>
    <div class="small-3 columns">
        <label for="printer-depth" class="form__label">Depth</label>
        <div class="row collapse postfix-radius">
            <div class="small-9 columns">
                <input id="printer-depth"
                       class="input--validation"
                       validation-error="addPrinterForm"
                       name="printerDepth"
                       type="number" placeholder="Depth"
                       ng-model="vm.printer.dimension.depth" />
            </div>
            <div class="small-3 columns">
                <span class="postfix">cm</span>
            </div>
        </div>
    </div>

    <div class="small-4 columns">
        <label for="layer-thickness" class="form__label">Layer Thickness</label>
        <div class="row collapse postfix-radius">
            <div class="small-9 columns">
                <input id="layer-thickness"
                       class="input--validation"
                       validation-error="addPrinterForm"
                       name="leayerThickness"
                       type="number"
                       placeholder="Layer Thickness"
                       ng-model="vm.printer.layerThickness" />
            </div>
            <div class="small-3 columns">
                <span class="postfix">cm</span>
            </div>
        </div>
    </div>
    <div class="small-4 columns">
        <label for="powerRequirements" class="form__label">Power Requirements</label>
        <input id="powerRequirements"
               type="text"
               placeholder="Power Requirements"
               name="powerRequirements"
               ng-model="vm.printer.powerRequirements"/>
    </div>
    <div class="small-4 columns">
        <label for="warranty" class="form__label">Warranty</label>
        <div class="row collapse postfix-radius">
            <div class="small-9 columns">
                <input id="warranty"
                       class="input--validation"
                       validation-error="addPrinterForm"
                       name="warranty" type="number"
                       placeholder="Warranty"
                       ng-model="vm.printer.warranty" />
            </div>
            <div class="small-3 columns">
                <span class="postfix">months</span>
            </div>
        </div>
    </div>

    <h2>Connectivity</h2>
    <div class="small-4 columns">
        <label for="wireless" class="form__label">Wireless</label>
        <input id="wireless"
               type="text"
               placeholder="Wireless"
               name="wireless"
               ng-model="vm.printer.connectivity.wireless"/>
    </div>
    <div class="small-4 columns">
        <label for="wired" class="form__label">Wired</label>
        <input id="wired"
               type="text"
               placeholder="Wired"
               name="wired"
               ng-model="vm.printer.connectivity.wired"/>
    </div>
    <div class="small-4 columns">
        <label for="mobileDevices" class="form__label">Mobile Devices</label>
        <input id="mobileDevices"
               type="text"
               placeholder="Mobile Devices"
               name="mobileDevices"
               ng-model="vm.printer.connectivity.mobileDevices"/>
    </div>

    <h2>Build Volume</h2>
    <div class="small-4 columns">
        <label for="printer-width" class="form__label">Width</label>
        <div class="row collapse postfix-radius">
            <div class="small-9 columns">
                <input id="build-volume-width"
                       class="input--validation"
                       validation-error="addPrinterForm"
                       name="buildVolumeWidth"
                       type="number" placeholder="width"
                       ng-model="vm.printer.buildVolume.width" />
            </div>
            <div class="small-3 columns">
                <span class="postfix">cm</span>
            </div>
        </div>
    </div>
    <div class="small-4 columns">
        <label for="printer-height" class="form__label">Height</label>
        <div class="row collapse postfix-radius">
            <div class="small-9 columns">
                <input id="build-volume-height"
                       class="input--validation"
                       validation-error="addPrinterForm"
                       name="buildVolumeHeight"
                       type="number" placeholder="Height"
                       ng-model="vm.printer.buildVolume.height" />
            </div>
            <div class="small-3 columns">
                <span class="postfix">cm</span>
            </div>
        </div>
    </div>
    <div class="small-4 columns">
        <label for="printer-depth" class="form__label">Depth</label>
        <div class="row collapse postfix-radius">
            <div class="small-9 columns">
                <input id="build-volume-depth"
                       class="input--validation"
                       validation-error="addPrinterForm"
                       name="buildVolumeDepth"
                       type="number" placeholder="Depth"
                       ng-model="vm.printer.buildVolume.depth" />
            </div>
            <div class="small-3 columns">
                <span class="postfix">cm</span>
            </div>
        </div>
    </div>

    <div class="small-4 columns">
        <label for="printingTechnology" class="form__label">Printing Technology</label>
        <input id="printingTechnology"
               type="text"
               placeholder="Printing Technology"
               name="printingTechnology"
               ng-model="vm.printer.printingTechnology"/>
    </div>
    <div class="small-4 columns">
        <label for="supportMaterial" class="form__label">Support Material</label>
        <input id="supportMaterial"
               type="text"
               placeholder="Support Material"
               name="supportMaterial"
               ng-model="vm.printer.supportMaterial" />
    </div>
    <div class="small-4 columns">
        <label for="extraFeatures" class="form__label">Extra Features</label>
        <input id="extraFeatures"
               type="text"
               placeholder="Extra Features"
               name="extraFeatures"
               ng-model="vm.printer.extraFeatures" />
    </div>

    <section class="small-12 columns">
        <h1>Images</h1>
        <ul class="image-show-area">
            <li class="th image-show-area__img--th" ng-repeat="image in vm.images" ng-click="vm.selectImage(image.id)">
                <i class="fa fa-times close-btn" ng-click="vm.removeSelectedImage(image)" title="Remove image"></i>
                <img ng-src="{{ ::vm.image_url + image + '?width=100&height=100'; }}" alt="image.name"/>
            </li>
        </ul>

        <a class="label secondary" href="" ng-click="vm.addImages()">Add Images</a>
    </section>

    <div class="row">
        <button type="submit" class="button tiny full row--glutter" ng-disabled="addPrinterForm.$invalid">{{ ::vm.btnText }}</button>
    </div>
</form>