<h1 class="hide">Printers</h1>

<ul class="panel callout row">
    <li class="small-16 columns list-item" ng-repeat="printer in vm.printers" ng-init="printerIndex = $index">
        <div class="th left">
            <img ng-src="{{ ::vm.image_url + printer.printer_ImageID[0] + '?width=100&height=100' }}" alt="" width="100" height="100"/>
        </div>
        <section class="list-item__details left">
            <ul>
                <li class="list-item__detail-entry">Brand Name: <span>{{ ::printer.brandName }}</span></li>
                <li class="list-item__detail-entry"><span>Model: {{ ::printer.productName }}</span></li>
            </ul>
        </section>

        <br class="clearfix"/>
        <div class="list-item__action right">
            <button class="button tiny" ng-click="vm.editPrinter(printer.id)">Edit</button>
            <button class="button alert tiny" ng-click="vm.removePrinter(printer.id, printerIndex)">X</button>
        </div>
    </li>
</ul>


<pagination first-text="&laquo;"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            last-text="&raquo;"
            boundary-links='true'
            current-page='vm.currentPage'
            items-per-page="vm.itemsPerPage"
            total-items='vm.totalItems'
            on-select-page="vm.onSelectPage(page)"></pagination>
