<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html ng-app="app.core">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../dist/css/vendor.min.css" />
        <link rel="stylesheet" href="../dist/app.css" />
    </head>
    <body>
        <section class="global-wrapper">

            <!-- Header -->
            <ng-include src="'/js/app/partial/header/_header.html'"></ng-include>

            <!-- Sidebar -->
            <ng-include src="'/js/app/partial/sidebar/_sidebar.html'"></ng-include>

            <!-- Main content -->
            <section class="main-content" ui-view></section>

        </section>

        <!-- Will init breeze. NOTE: This should come before the preload-resource breeze metadata-->
        <breeze-init />

        <!-- Preload resources section -->
        <preload-resource ng-cloak resource-content="<%= breezeMetadata %>" />

        <!-- Scripts -->
        <script src="../dist/vendor.js"></script>
        <!--<script src="../js/third-party/ckeditor/ckeditor.js"></script>-->
        <script src="../dist/bundle.js"></script>

        <!-- Google fonts -->
        <script type="text/javascript">
            WebFontConfig = {
                google: { families: [ 'Josefin+Sans::latin', 'Francois+One' ] }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })(); </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- Defer ckeditor.js loading -->
        <script type="text/javascript">
            var CKEDITOR = null;

            function downloadJSAtOnload() {
                var element = document.createElement("script");
                element.src = "../js/third-party/ckeditor/ckeditor.js";
                document.body.appendChild(element);
            }
            if (window.addEventListener)
                window.addEventListener("load", downloadJSAtOnload, false);
            else if (window.attachEvent)
                window.attachEvent("onload", downloadJSAtOnload);
            else window.onload = downloadJSAtOnload;
         </script>

    </body>
</html>
