<span ng-message="required" class="error">Required!</span>
<span ng-message="min" class="error">Too small!</span>
<span ng-message="number" class="error">Must be a number!</span>
<span ng-message="odd" class="error">Odd numbers only!</span>