@import '../settings/_settings';

body {
  font-family: $main-font-family;
}

h1, h2, h3, h4, h5, h6{
  margin: 5px 0;
  font-family: $heading-font-family;
}

.full{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

// extend the foundation class
.row--glutter {
  margin: 10px 0;
}

.no-transition {
  transition: none;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.img--selected {
  box-shadow: 0 0 3px 5px rgba(7, 3, 69, 0.50);
}

.form__label {
  margin: 5px 0;
  font-family: $heading-font-family;
}

@media only screen and (min-width: 40.063em) and (max-width: 90em) {
  .main-content {
    margin-left: 90px;
  }
}
