@import "../settings/_mixins";

.search-box--dark{
  @include search-box(75%, #444, 100%)
}

.input--validation {
  margin-bottom: 5px !important;
}

.input--error {
  background: rgba(255, 0, 0, 0.6) !important;

  #placeholder {
    color: #FFF !important;
  }
}

.error {
  margin-bottom: 0px !important;
}