<section>
    <ul class="image-show-area">
        <li class="th image-show-area__img--th no-transition" ng-repeat="image in vm.images" ng-click="vm.selectImage(image.id)"
            ng-class="{ 'img--selected': vm.isImageSelected(image.id) }">
                <i class="fa fa-times close-btn" ng-click="vm.deleteSelectedImage(image, $index)" title="Remove image"></i>
                <img ng-src="{{ ::'http://localhost:9999/api/v1/images/' + image.id + '?width=100&height=100'; }}" alt="image.name"/>
        </li>
    </ul>

    <pagination first-text="&laquo;"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                last-text="&raquo;"
                boundary-links='true'
                current-page='vm.currentPage'
                items-per-page="vm.itemsPerPage"
                total-items='vm.totalItems'
                on-select-page="vm.onSelectPage(page)"></pagination>

    <ng-include src="'/js/app/partial/images/_upload-image.html'"></ng-include>

    <div class="ngdialog-buttons" ng-if="ngDialogData.isPopupMode">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="vm.closeDialog()">Ok</button>
    </div>
</section>