<header ng-controller="headerCtrl as vm" class="header">
    <nav class="menu show-for-small-only">
        <div class="menu-items" ng-show="vm.isMenuVisible">
            <div class="icon-bar menu--small">
                <a class="item" ui-sref="printers.list">
                </a>
                <a class="item" ui-sref="printers.list">
                    <i class="fa fa-print"></i>
                    <span>Printers</span>
                </a>
                <a class="item" ui-sref="images">
                    <i class="fa fa-file-photo-o"></i>
                    <span>Images</span>
                </a>
            </div>
        </div>
        <div class="nav__menu-btn-container" ng-click="vm.toggleMenu()">
            <span class="nav__menu-icon-text" title="Show menu"><i class="fa fa-bars"></i> Menu</span>
        </div>
    </nav>
    <section class="row header-main-content"> <!-- add this class: show-for-small-only -->
        <div class="small-10 small-centered columns header__logo-container">
            <img src="/content/images/logo.png" alt="itprints3d logo" class="header__logo"/>
        </div>
        <div class="small-10 columns small-centered">
            <input type="text" class="search-box--dark small-centered columns" placeholder="Search"/>
        </div>
    </section>
</header>